@font-face {
  font-family: RobotoB;
  src: url("../fonts/Roboto/Roboto-Black.ttf");
}

@font-face {
  font-family: RobotoL;
  src: url("../fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  width: 100vw;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* 
!----------------------------header---------------------------------------
*/

.main-header {
  display: grid;
  gap: 1rem;
  width: 100vw;
  grid-template-columns: 40% 60%;
  grid-template-areas: "text image";
  background-color: blue;
}

.header-text-container {
  grid-area: text;
}
.header-illustration-container {
  grid-area: image;
  background-color: red;
  z-index: 10;
  background: url("../img/ilustracion1.png") no-repeat center;
  background-size: contain;
  background-position: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-illustration {
}

.floating-man {
  width: 60%;
}

/* 
!----------------------------Main---------------------------------------
*/

/* 
#--------------------------#SECTION intro: images + explanation (skills)-----------------------------------
*/

.big-collage {
  width: 100vw;
}
.icon {
  height: 3.2rem;
  width: 3.2rem;
}

/*
#--------------------------#SECTION challenge: intro-challenge + challenge-description-----------------------------------
*/

.step-image {
  width: 40%;
}

.text-container {
  width: 40%;
}
/*
#--------------------------#SECTION subscribe ---------------------------------
*/

/* ! ----------------------Footer------------------------------------------------- */
